@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
/* TEXT COLORS */
.text-primary {
  color: gold;
}

.text-secondary {
  color: blue;
}

/* BUTTON */
.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  border: none;
  border-radius: 5px;
  background: gold;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary,
.bg-primary {
  background: gold;
  color: #fff;
}

.btn-secondary,
.bg-secondary {
  background: blue;
  color: #fff;
}

.btn-light,
.bg-light {
  background: #fff;
  color: #333;
}

.btn-dark,
.bg-dark {
  background: #333;
  color: #fff;
}

.btn-outline {
  background: transparent;
  border: 1px solid #fff;
}

/* Flex Items */
.flex-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 100%;
}

.flex-items > div {
  padding: 20px;
}

/* FLEX COLUMNS */
.flex-columns.flex-reverse .row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.flex-columns .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.flex-columns .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
  height: 100%;
  margin: 0.1rem;
}

.flex-columns img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.flex-columns .column-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px;
}

.flex-columns .french {
  font-size: 3.3rem;
  font-weight: 100;
  margin-bottom: 2rem;
  font-family: 'IM Fell French Canon SC', serif;
}

.flex-columns p {
  margin: 20px 0;
  font-size: 30px;
}

/* SECTION HEADER */
.section-header {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.section-header h2 {
  font-size: 40px;
  margin: 20px;
  font-family: 'IM Fell French Canon SC', serif;
}

.section-padding {
  padding: 10px 0 40px;
}

/* FLEX GRID */
.flex-grid .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 4px;
}

.flex-grid .column {
  -webkit-box-flex: 10%;
      -ms-flex: 10%;
          flex: 10%;
  max-width: 40%;
  padding: 2px 4px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* NAVBAR */
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #333;
  color: #fff;
  opacity: 0.8;
  width: 100%;
  height: 95px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.navbar img {
  width: 160px;
  height: 100px;
}

.navbar.top {
  background: transparent;
}

.navbar a {
  color: #fff;
  padding: 10px 20px;
}

.navbar a:hover {
  border-bottom: gold 2px solid;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .logo {
  font-weight: 400;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #7a8255;
  font-size: 25px;
  font-family: fantasy;
}

.navbar .logo .text-primary {
  color: white;
  font-size: 60px;
  font-family: 'Rubik Mono One', sans-serif;
}

/* Header */
.hero {
  background: url("../images/home/vegetable-dish-in-ceramic-cooking-pot-2291596.jpg") no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color: #fff;
}

.hero .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 100%;
}

.hero .content h1 {
  font-size: 70px;
}

.hero .content p {
  font-size: 20px;
  max-width: 600px;
  margin: 20px 0 30px;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.hero * {
  z-index: 10;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.hero * {
  z-index: 10;
}

/* About */
#about {
  margin-top: 0.1rem;
}

/* Cases */
#cases {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn-primary {
  text-align: center;
}

/* Testimonials */
#container h2 {
  text-align: center;
  font-size: 2.5rem;
  font-family: 'IM Fell French Canon SC', serif;
}

.images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2rem;
}

#testimonials img {
  width: 30%;
  height: 100%;
  padding: 1rem;
}

/* CALL BACK FORM */
.callback-form {
  width: 100%;
  padding: 20px 0;
}

.callback-form label {
  display: block;
  margin-bottom: 5px;
}

.callback-form .form-control {
  margin-bottom: 15px;
}

.callback-form input {
  width: 100%;
  padding: 4px;
  height: 40px;
  border: #f5f5f5 1px solid;
}

.callback-form input:focus {
  outline-color: #ffe762;
}

.callback-form .btn {
  margin: 12px 0;
  padding: 20px;
}

/* Footer */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 200px;
}

.footer a {
  color: #fff;
}

.footer a:hover {
  color: gold;
}

.footer .social > * {
  margin-right: 30px;
}

/* MOBILE */
@media (max-width: 768px) {
  .hero .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 120px;
    padding: 20px;
  }
  .hero .logo {
    font-size: 30px;
  }
  .hero .navbar a {
    padding: 10px 10px;
    margin: 0 3px;
  }
  .hero .content #header-content {
    font-size: 45px;
  }
  .flex-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flex-columns .column,
  .flex-grid .column {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
  .column-2 p {
    font-size: 20px;
  }
  .team img {
    width: 70%;
  }
}
/*# sourceMappingURL=index.css.map */